---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfBooks from '../components/ListOfBooks.astro';
---

<Layout title="Libros de Programación recomendados por @midudev">
	<main class="m-auto max-w-4xl">
		<Title />

		<ListOfBooks />
		
	</main>
</Layout>