---
import BookItem from "./BookItem.astro";
import { books } from '../data/books'
---

<ul class="grid grid-cols-2 md:grid-cols-3 gap-3 px-4">
  {
    books.map(({ id, title, img }) => {
      return (
        <li>
          <BookItem id={id} title={title} img={img} />
        </li>
      )
    })
  }
</ul>