<h1
  class="font-black uppercase text-6xl md:text-8xl text-center py-8 px-4"
  style="view-transition-name: book-title"
>
  Libros de
  <span class="block text-[36px] md:text-[58px]">programación</span>
</h1>