---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@midudev" />
		<meta name="view-transition" content="same-origin" />
	</head>
	<body>
		<div id="content">
			<slot />
		</div>
		<footer class="text-center opacity-70 py-10 text-sm">
			Basado en el trabajo de <a class="text-sky-700 hover:underline" href='https://twitter.com/addyosmani/status/1673755274853900289?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Etweet%7Ctwtr%5Etrue'>Addy Osmani</a>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	@keyframes fade-in {
		from { opacity: 0; }
	}
</style>

<script>
	if (document.startViewTransition) {
		window.navigation.addEventListener('navigate', (event) => {
			const toUrl = new URL(event.destination.url)
	
			// es una página externa? si es así, lo ignoramos
			if (location.origin !== toUrl.origin) return
	
			// si es una navegación en el mismo dominio (origen)
			event.intercept({
				async handler () {
					// vamos a cargar la página de destino
					// utilizando un fetch para obtener el HTML
					const response = await fetch(toUrl.pathname) // /clean-code
					const text = await response.text()
					// quedarnos sólo con el contenido del html dentro de la etiqueta body
					// usamos un regex para extraerlo
					const [, data] = text.match(/<body>([\s\S]*)<\/body>/i)
	
					// utilizar la api de View Transition API
					document.startViewTransition(() => {
						// el scroll hacia arriba del todo
						document.body.innerHTML = data
						document.documentElement.scrollTop = 0
					})
				}
			})
		})
	}
</script>